body{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: hsl(0, 0%, 81%);
    font-size: 15px;       
}

.container{
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    min-height: 100vh;
    
}

.container .grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "card1 card1 card2 card5"
                        "card3 card4 card4 card5";
}

.h3{
    margin-bottom: 10px;
}

.card{
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

.card-img{
    display: flex;
    align-items: center;
}

.flex{
      margin-left: 10px;
    
}

img{
    border-radius: 50%;
    border: 2px solid hsl(219, 29%, 14%);
}

.card-1{
    background-color: hsl(263, 55%, 52%);
    color: #fff;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0%;
    grid-area: card1;
}

.card-2{
    background: hsl(217, 19%, 35%);
    color: #fff;
    grid-area: card2;
}

.card-3{
    background: hsl(0, 0%, 100%);
    grid-area: card3;
}

.card-4{
    background: hsl(219, 29%, 14%);
    color: #fff;
    grid-area: card4;
}

.card-5{
    background: hsl(0, 0%, 100%);
    grid-area: card5;
}

p{
    opacity: 50%;
}

@media (max-width:1440px){
    .container{
        width: 90%;
        max-width: 1500px;
        margin: 20px auto;
        min-height: 100vh;
        
    }
    
    .container .grid{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "card1 card1 card2 card5"
                            "card3 card4 card4 card5";
    }
}


@media (max-width: 375px) {
    .container{
        width: 90%;
        min-height: 100vh;
        
    }
    
    .container .grid{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
        grid-template-areas: "card1" "card2" "card3" "card4" "card5"       ;
    }

}




